.searchbar{
position: absolute;
width: 40vw;
height: 10vh;
left: 20vw;
top: 40vh;

border: 1.5px solid #E1DDD7;
font-family: Mrs Eaves OT;
font-style: normal;
font-weight: normal;
font-size: 3vw;
line-height: 4vw;
background-color: #E1DDD7;
}
input:focus{
    outline:none
}
.icon{
position: absolute;
height:3vw;
width: auto;
left: 16vw;
top: 43vh;
}
.scribble{
position: absolute;
width: 40vw;
height: auto;
left: 14vw;
top: 50vh;
animation-name: scrib; 
animation-duration: 1s;
}
@keyframes scrib {
    from {left: 0px; opacity: 0.1;}
    to {left:14vw ;opacity: 1;}
  }

  @media only screen and (max-width: 680px) {
    .searchbar {
        font-size: 3vh;
        line-height: 4vh;
        width: 60vw;
    }
    .icon{
        height:3vh;
    }
    .scribble{
        width: 60vw;
    }
  }  